body{
  max-width: 1000px;
}

.title {
  background-color: lightsteelblue;
}

.red{
  background-color: red;
}

/* 🦄c3  */

.alert-box {
  background: lightsalmon;
  padding: 20px;
  color: white;
  border-radius: 10px;

  display: none; /*  js 3-1)  */
}

