body {
  max-width: 1000px;
}

.title {
  background-color: lightsteelblue;
}

.overflow {
  overflow: hidden;
}
.relative{
  position: relative;
}

/* 🦄c3  */

.alert-box {
  background: lightsalmon;
  padding: 20px;
  color: white;
  border-radius: 10px;

  display: none; /*  js 3-1)  */
}

/* js 8, js 18 */

.red {
  background-color: red;
  transition: all 1s; /* c18 */
  transform: scale(1.5) translateX(20px); /* c18 */
}

/* js 21 */

.slide-container {
  width: 300vw; /* 1) 300vw에 100vw x3개 박스 넣음 */

  /* 버그: 페이지 줄이고 늘릴때, float속성 정렬이 이상해짐
  transition: all; 👉 transform 으로 정확하게 지정하기 */
  transition: transform 1s;

  /* js 21-2) js로 추가 👉 transform : translateX(-100vw); */
}

.slide-box {
  /* vw : 현재 브라우저 화면폭(viewport widt)의 몇%를 차지할것이냐라는 단위 */
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 20%; /* 🚀이미지 크기 박스에 맞춤 공식 : 100%가 기본 */
}

/* 🦄c22 */

/* css 22-2) */  
.slide-next {
  position: absolute;
  top: 45%;
  right: 50%;
  background-color: lightsalmon;
}

/*🦄c24*/
.nav-menu {  

  /* js 1) */
  background : lightblue;
  color : lightcoral;
}

 /* js 1) */
.nav-black{
  background : lightyellow;
  color : black;
}