body{
  max-width: 1000px;
}

.title {
  background-color: lightsteelblue;
}



/* 🦄c3  */

.alert-box {
  background: lightsalmon;
  padding: 20px;
  color: white;
  border-radius: 10px;

  display: none; /*  js 3-1)  */
}

/* js 8, js 18 */

.red{
  background-color: red;
  transition: all 1s;  /* c18 */
  transform: scale(2); /* c18 */

}